/*Custom CSS Style John Sales */

body { /*whole page*/
    font-family: "IBM Plex Sans", sans-serif;
    background-color: black;
    color: #ffffff;
    display: flex;
    
}
section {
    margin: 4em;
}
.flex-container{
    display: flex;
    justify-content: center;    
}
.grid-container{
    display: grid;
    position: relative;
    gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    margin-left: auto;
    margin-left: auto;
}
hr{
    color: #ffffff;
    width: 80%;
}
ul.links{
    text-align: center;
    background-color: #1c3485;
}
ul.links li{
    display: inline-block;
}
ul.links a{
    padding: 10px 20px;
}
div{
    position: relative;
}
img{
    transition: 0.5s ease;
}

/*---Header---*/
a{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 18pt;
    text-align: center;
}
ul.links a:hover, a:active{
    background-color: #f06157;
}

/*---Splash Section--*/

section.splash{
    margin: 0;
}
.splash-container{
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
section.splash img{
    width: 100%;
    transition: 1s ease;
}
.middle-text{
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
div.splash-container:hover img{
    opacity: 0.3;
}
div.splash-container:hover .middle-text{
    opacity: 1;
}
section.splash h1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---About Section---*/

section.about p , div.about p{
    width: 60%;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    line-height: 1.25em;
    margin-left: auto;
    margin-right: auto;
}
section.about p:hover{
    background-color: #f06157;
    border-radius: 20px;
}
div.flex-container{
    margin-top: 40px;
    width: 100%;
    display: block;
}
div.img{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
section.about .profile-img{
    width: 100%;
    border-radius: 40px;
}

/*--Client Section--*/

section.clients p{
    flex: auto;
    padding: 20px;
    line-height: 1.25em;
}

/*---Portfolio Main Page---*/

.grid-container div{
    border-style: solid;
    border-width: 20px;
    border-color: transparent;
}
.grid-container img{
    width: 100%;
    height: 100%;
}
.grid-container div:hover{
    border-style: solid;
    border-width: 20px;
    border-color: #f06157;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.grid:hover img{
    opacity: 0.3;
}
div.grid:hover .middle-text{
    opacity: 1;
    border-color: transparent;
}

/*---Portfolio Page---*/
 
div.portfolio-img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    justify-items: center;
    align-items: center;
}
.portfolio img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.portfolio p{
    margin: auto;
    width: 40%;
}
.grid-process{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.grid-process img{
    width: 100%;
}
.grid-process:hover img{
    opacity: 0.3;
}
.grid-process:hover .middle-text{
    opacity: 1;
    border-color: transparent;
}
.grid2{
    grid-column: 2 / span 2 ;
    width: 100%;
}
div.grid2:hover{
    border-color: transparent;
}
.grid3{
    grid-column: 1 / span 3;
}
div.grid3:hover{
    border-color: transparent;
}
.grid3 a{
    display: flex;
    position: relative;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
}
.grid3:hover img{
    opacity: 0.3;
}
.grid3:hover .middle-text{
    opacity: 1;
    border-color: transparent;
}

/*---Client---*/

.clients div{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

/*---Contact---*/

.contact div{
   text-align: center;
   padding-bottom: 60px;
}

/*---Text---*/

h1{
    font-size: 60pt;
    font-weight: 500;
    font-variant: small-caps;
    text-align: center;
    color: #6544f6;
    padding: 5px;
    margin-top: 40px;
}
h2{
    font-size: 32pt;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}
h3{
    font-size: 24pt;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}
h4{
    font-size: 18pt;
    font-weight: 500;
    text-align: center;
    color: #6544f6;
    padding: 20px;
}
#accent{
    color: #f06157;
}
#accent2{
    color: #6544f6;
}
#list-description{
    text-align: center;
}
p {
    font-size: 16pt;
    font-weight: 400;
    color: #ffffff;
    padding: 2em;
}
.magicbox-header {
    font-family: "Inter", sans-serif;
    font-size: 36pt;
    font-weight: 700;
    text-align: center;
    color: white;
    padding: 5px;
    margin-top: 40px;
}
.magicbox-subhead{
    font-size: 24pt;
    font-weight: 900;
    text-align: center;
    color: white;
    padding: 20px;
}
.magicbox-bodycopy{
    font-size: 16pt;
    font-weight: 400;
    color: white;
    padding: 2em;
    text-align: center;
}
.job-titles{
    color: #f06157;
    font-size: 20pt;
}

/*---Footer---*/

footer{
    background-color: #1c3485;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    flex: auto;
}
li.return-to-top{
    position: fixed;
    bottom: 0;
    right: 0;
}
li.return-to-top p{
    padding: .75em;
}

/*---Responsive---*/

@media (max-width: 992px) {
    .flex-container{
        flex-direction: column;
    }
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
    }
    .grid2{
        grid-column: 1 /span 3;
        width: 100%;
    }
    .grid-process{
        grid-column: 1 /span 3;
        width: 100%;
    }
    div.portfolio-img{
        width: 100%;
    }
    img.svg-img1{
        height: 375px;
    }
    

    /*---About Section---*/

    section.about div.img{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        float: none;
    }
    section.about p{
        width: 80%;
    }
}
@media (min-width: 1800px) {
    section.about{
        padding: 50px;
    }
    section.about div.img{
        width: 550px;
    }
    img.svg-img1{
        height: 400px;
    }
}
